/*===== CSS Variables Start =====*/
:root{
    --white: #ffffff;
    --lato-font: 'Lato', sans-serif;
    --grand-hotel-font: 'Grand Hotel', cursive;
    --pink: #e8565e;
    --butter: #eee6cc;
    --off-white: #faf5e4;
}
/*===== CSS Variables End =====*/

/*===== Common CSS Start =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 22px;
}
img{
    max-width: 100%;
}
.section-main-text{
    font-family: var(--grand-hotel-font);
    font-size: 125px;
    font-weight: 400;
    text-align: center;
}
.section-paragraph{
    font-family: var(--lato-font);
    max-width: 750px;
    text-align: center;
    padding: 0 20px;
    font-size: 28px;
    font-weight: 400;
}

/*===== Common CSS End =====*/

/*===== Header-area start =====*/
#header-area{
    padding: 70px 0;
    width: 100%;
    background-image: linear-gradient(rgba(241, 5, 16, 0.7),rgba(236, 15, 26, 0.7)),url("img/banner.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav-text{
    color: var(--white);
    font-family: var(--lato-font);
    font-size: 25px;
    font-weight: 400;
}
.header-content h1{
    font-family: var(--grand-hotel-font);
    font-size: 250px;
    margin-top: 70px;
}
.btn{
    text-decoration: none;
    background-color: var(--white);
    display: inline-block;
    color: var(--pink);
    font-family: var(--lato-font);
    font-size: 25px;
    padding: 24px 85px;
    border-radius: 50px;
    font-weight: 700;
    margin-top: 40px;
}
/*===== Header-area end =====*/
/*========== Popular-area start ======*/
.popular-area{
    padding: 90px 0;
    background-image: linear-gradient(rgba(253, 253, 253, 0.8),rgba(253, 253, 253, 0.8)),url("img/popular.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
#popular-paragraph{
    margin-bottom: 75px;
}
.popular-area h2{
    color: var(--pink);
}
h5{
    color: var(--pink);
    font-size: 65px;
    font-family: var(--grand-hotel-font);
}
/*========== Popular-area end ======*/

/* ======= Statistic - section start ================*/
.statistic-section{
    padding: 150px 0;
    background-image: linear-gradient(rgba(241, 5, 16, 0.7),rgba(241, 5, 16, 0.7)),url("img/statistic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}             
.statistic-circle{
    max-width: 300px;
    height: 300px;
    border: 4px dashed var(--white);
    border-radius: 50%;
}
.number{
    margin-top: 60px;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 66px;
}
h3{
    font-size: 50px;
}
/* ======= Statistic - section end ================*/
/*========== Menu-section start ======*/
.menu-section{
    padding: 85px 0;
    background-color: var(--butter);
}
.menu-section h2{
    color: var(--pink);
}
h6{
    font-family: var(--grand-hotel-font);
    font-size: 50px;
    color: var(--pink);
}


/*========= Menu-section end ==========*/

/*========= Order-section start ==========*/
.order-section{
    background-color: var(--off-white);
}
.order-left{
    max-height: 700px;
}
.order-left img{
    width: 100%;
    max-height: 100%;
}
.order-right{
    padding: 0 25px 0 60px;
}
.order-header{
    font-family: var(--grand-hotel-font);
    font-size: 100px;
    color: var(--pink);
}
.order-paragraph{
    text-align: left;
    max-width: 550px;
}
.order-section .btn{
    background-color: var(--pink);
}

/*========= Order-section-end ==========*/

/*================ media queries for responsive==================== */
@media (max-width:991px){
    .header-content h1{
        font-size: 150px;
    }
    .section-paragraph{
        font-size: 22px;
    }
    .btn{
        font-size: 20px;
        padding: 15px 50px;
        margin-top: 50px;
    }
}
@media (max-width:767px){
    .header-content h1{
        font-size: 100px;
    }
    .section-paragraph{
        font-size: 18px;
    }
    .section-main-text{
        font-size: 80px;
    }
    p{
        font-size: 18px;
    }
    .order-left{
    max-height: 350px;
    }
    .order-right{
        padding: 70px;
        text-align: center;
    }
    .order-header{
        font-size: 70px;
    }
    .order-paragraph{
        text-align: center;
        max-width: 100%;
    }
}
@media (max-width:575px){
    
}