/*===== CSS Variables Start =====*/
:root{
    --light-black: #2a2a2a;
    --black: #000000;
    --white: #ffffff;
    --lato-font: 'Lato', sans-serif;
    --grand-hotel-font: 'Grand Hotel', cursive;
    --nunito-font: 'Nunito', sans-serif;
    --pink: #e8565e;
    --butter: #eee6cc;
    --off-white: #faf5e4;
}
/*===== CSS Variables End =====*/

/*===== Common CSS Start =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 22px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section-main-text{
    font-family: var(--grand-hotel-font);
    font-size: 125px;
    font-weight: 400;
    text-align: center;
}
.section-paragraph{
    font-family: var(--lato-font);
    max-width: 750px;
    text-align: center;
    padding: 0 20px;
    font-size: 28px;
    font-weight: 400;
}

/*===== Common CSS End =====*/

/*===== Header-area start =====*/
header{
    padding: 70px 0;
    width: 100%;
    background-image: linear-gradient(rgba(241, 5, 16, 0.7),rgba(236, 15, 26, 0.7)),url("img/banner.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav-text{
    color: var(--white);
    font-family: var(--lato-font);
    font-size: 25px;
    font-weight: 400;
}
.header-content h1{
    font-family: var(--grand-hotel-font);
    font-size: 250px;
    margin-top: 70px;
}
.cta-btn a{
    text-decoration: none;
    background-color: var(--white);
    display: inline-block;
    color: var(--pink);
    font-family: var(--lato-font);
    font-size: 25px;
    padding: 24px 85px;
    border-radius: 50px;
    font-weight: 700;
    margin-top: 40px;
}
.header-content .cta-btn a:hover{
    color: var(--white);
    background-color: var(--black);
}


/*===== Header-area end =====*/
/*========== Popular-area start ======*/
.popular-area{
    padding: 90px 0;
    background-image: linear-gradient(rgba(253, 253, 253, 0.8),rgba(253, 253, 253, 0.8)),url("img/popular.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
#popular-paragraph{
    margin-bottom: 75px;
}
.popular-area h2{
    color: var(--pink);
}
.popular-section h5{
    color: var(--pink);
    font-size: 65px;
    font-family: var(--grand-hotel-font);
}
/*========== Popular-area end ======*/

/* ======= Statistic - section start ================*/
.statistic-section{
    padding: 150px 0;
    background-image: linear-gradient(rgba(241, 5, 16, 0.7),rgba(241, 5, 16, 0.7)),url("img/statistic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}             
.statistic-circle{
    max-width: 300px;
    height: 300px;
    border: 4px dashed var(--white);
    border-radius: 50%;
}
.number{
    margin-top: 60px;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 66px;
}
h3{
    font-size: 50px;
}
/* ======= Statistic - section end ================*/
/*========== Menu-section start ======*/
.menu-section{
    padding: 85px 0;
    background-color: var(--butter);
}
.menu-section h2{
    color: var(--pink);
}
h6{
    font-family: var(--grand-hotel-font);
    font-size: 50px;
    color: var(--pink);
}

/*========= Menu-section end ==========*/

/*========= Order-section start ==========*/
.order-section{
    background-color: var(--off-white);
}
.order-left{
    max-height: 700px;
}
.order-left img{
    width: 100%;
    max-height: 100%;
}
.order-right{
    padding: 0 25px 0 60px;
}
.order-header{
    font-family: var(--grand-hotel-font);
    font-size: 100px;
    color: var(--pink);
}
.order-paragraph{
    text-align: left;
    max-width: 550px;
}
.order-section .cta-btn a{
    background-color: var(--pink);
}
.order-section .cta-btn a:hover{
    background-color: var(--black);
}

/*========= Order-section-end ==========*/

/*========= Package-section-start ==========*/
.package-section{
    padding: 90px 0;
    background-color: var(--butter);
}
.bundle-img{
    width: 130px;
    height: 120px;
}
.package-section h2{
    color: var(--pink);
}
.bundle-wrapper{
    padding: 20px;
}
.bundle-item{
    padding: 40px 0px;
    background-color: var(--off-white);
}
.bundle-item .cta-btn a{
    font-size: 25px;
        padding: 12px 90px;
        margin-top: 15px;
    background-color: var(--pink);
}
.bundle-item .cta-btn a:hover{
    background-color: var(--black);
}
.package-section h5{
    color: var(--pink);
    font-size: 50px;
    font-family: var(--grand-hotel-font);
}

/*========= Package-section-end ==========*/

/*======== Chef -section start ====*/
.chef-section{
    padding: 90px 0;
    background-image: linear-gradient(rgba(253, 253, 253, 1),rgba(253, 253, 253, 0.8)),url("img/chef.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.chef-img {
    height: 250px;
    width: 250px;
}
.chef-img img{
    width: 100%;
    height: 100%;
}
.chef-section p{
    font-size: 50px;
    font-family: var(--lato-font);
    font-weight: 400;
    max-width: 1000px;
}
.chef-section h5{
    font-family: var(--grand-hotel-font);
    color: var(--pink);
    font-size: 85px;
    margin-top: 35px;
}
/*===== Chef -section end =========*/
/*======== Subscribe -section start ======*/
.subcribe-section{
    padding: 70px 0;
    background-color: var(--off-white);
}
.subcribe-section h2{
    color: var(--pink);
}
form{
    max-width: 770px;
    position: relative;
    margin-top: 50px;
    font-family: var(--lato-font);
}
input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    outline: none;    
    font-size: 20px;
}
input[type="button"]{
    position: absolute;
    background-color: var(--pink);
    padding: 12px 25px;
    border: none;
    right: 0;
    font-size: 16px;
    border-radius: 28px;
    font-family: var(--lato-font);
    font-weight: 700;
}

/*======== Subscribe -section end =========*/

/*======== Footer Section Start ========*/
footer{
    background-color: var(--light-black);
    color: var(--white);
    padding: 100px 0 125px;
}
.about-us{
    font-size: 50px;
    font-family: var(--grand-hotel-font);
}
.about-us-text, .footer-text{
    font-size: 22px;
    max-width: 490px;
    font-family: var(--nunito-font);
}
.about, .services, .follow{
    font-family: var(--grand-hotel-font);
    font-size: 38px;
}
.icon-box{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    padding-top: 2px;
}
.icon-box a{
    color: var(--light-black);
}
.icon-box:hover{
    background-color: red;
    color: wheat;
}

/*======== Footer Section End =========*/


/*================ media queries for responsive==================== */
@media (max-width:991px){
    .header-content h1{
        font-size: 150px;
    }
    .section-paragraph{
        font-size: 22px;
    }
    .header-content .cta-btn a, .order-section .cta-btn a{
        font-size: 20px;
        padding: 15px 50px;
        margin-top: 25px;
    }
    .chef-section p{
        font-size: 30px;
    } 
    .chef-section h5{
        font-size: 50px;
    }
    
}
@media (max-width:767px){
    .header-content h1{
        font-size: 100px;
    }
    .section-paragraph{
        font-size: 18px;
    }
    .section-main-text{
        font-size: 80px;
    }
    p{
        font-size: 18px;
    }
    .order-left{
    max-height: 350px;
    }
    .order-right{
        padding: 20px;
        text-align: center;
    }
    .order-header{
        font-size: 70px;
    }
    .order-paragraph{
        text-align: center;
        max-width: 100%;
    }
    .bundle-item .cta-btn a{
        font-size: 20px;
        padding: 15px 50px;
        margin-top: 15px;
    }
    .chef-section p{
        font-size: 25px;
    }
    .chef-section h5{
        font-size: 38px;
    }
}
@media (max-width:575px){
    
}